@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>

   
</hgroup>

<article>
   <p>
          
    
              <b>  System used to monitor current status of the roads By : </b><br />
               1- Discovering the accidents which occure right now .<br />
       2-A detailed view and a map to show the accidents location and the shortest path to it .    

  </p>
</article>

<aside>
    <h3>Navigation</h3>
    <p>
Navigate into a link   </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>