@model IEnumerable<GP_EmergencyBackend.Models.real_accident>

<p>
    @Html.ActionLink("Create New", "Create")
</p>




<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accident_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.happened_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accident_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.happened_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.accident_ID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>


