@model GP_EmergencyBackend.Models.real_accident

@{
    ViewBag.Title = "Edit";
}

<html>
    
    
    <head>

          
<link href="~/Content/Site.css" rel="stylesheet" /> 
 <script src="~/Scripts/jquery-3.1.1.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNiqU2i67ojpnVjsQkadaqiIIxCZMoOrE"></script>
<script type="text/javascript" src="~/Scripts/jquery.googlemap.js"></script>


              <script type="text/javascript">
                  $(function () {
                      $("#map").googleMap({
                          type: "ROADMAP"
                      });
                      //TERRAIN
                       var Lat = '@Model.latitude';
                       var Long= '@Model.longitude';
                  
                      $("#map").addMarker({
                      

                          coords: [Lat, Long]
                      });

    //test if model contains latitude and longitude            
@*  document.getElementById("test").innerHTML += ' @Model.latitude "<br/>"  @Model.longitude <br/> ----------<br/> ';*@
            
          @* var Lat = '@ViewBag.Latitude';
                      var Long = '@ViewBag.Longitude';*@

                      $("#map").addWay({
                          start: "Dar El-Salam,Athar an Nabi,Misr Al Qadimah,Cairo Governorate", // Postal address for the start marker (obligatory)
                          end: [Lat, Long], // Postal Address or GPS coordinates for the end marker (obligatory)
                          route: 'way', // Block's ID for the route display (optional)
                          langage: 'english' // language of the route detail (optional),
                      });

                  })

</script>
<title>@ViewBag.Title = "Edit"</title>


    </head>
    
    <body>

         <div id="map" style="width: 1000px; height:500px;"></div>
        <div id="test"></div>



   <fieldset>
        <legend>real_accident</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.accident_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.accident_ID)
            @Html.ValidationMessageFor(model => model.accident_ID)
        </div>

     

        <div class="editor-label">
            @Html.LabelFor(model => model.country.country_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country.country_name)
            @Html.ValidationMessageFor(model => model.country.country_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city.city_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city.city_name)
            @Html.ValidationMessageFor(model => model.city.city_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.location)
            @Html.ValidationMessageFor(model => model.location)
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.solved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.solved)
            @Html.ValidationMessageFor(model => model.solved)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
        @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



    </body>


</html>

<h2>Edit</h2>

