@model IEnumerable<GP_EmergencyBackend.Models.real_accident>

@{
    ViewBag.Title = "Accidents";
}


<html>
    <head>

       



      
        
        <script src="~/Scripts/jquery-3.1.1.js"></script>


                             

        
    </head>
    
    
    
    <body >
                    




<h2>Accidents</h2>



<form >

     <div id="list">


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accident_ID) |
        </th>           

        <th>
            @Html.DisplayNameFor(model => model.area_id) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.happened_time) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solved)
        </th>

       
        <th></th>
    </tr>

    
@foreach (var item in Model) {

    
    if (item.solved==false)
    {
        
          <tr style="text-align:center">
        <td>
            @Html.DisplayFor(modelItem => item.accident_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country.country_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city.city_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.happened_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solved)
        </td>
        <td>
            
            @Html.ActionLink("View On Map", "Edit", new {  id=item.accident_ID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
@*            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            
        </td>
    </tr>
    }
  
}
</table>
   




     </div>
    </form>

         </body>


</html>
